{% extends "layout.html" %}

{% block title %}
    Add Rig
{% endblock %}

{% block main %}
    <form action="{{ url_for('addrig') }}" method="post">
        <fieldset>
            <div class="container">
                <h2>Add Rig</h2>
                <p>Add new rig to the rig list</p>
            </div>
            <div class="form-group row">
                <legend>Add New</legend>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Rig Name</label>
                <input class="form-control" placeholder="Enter Rig Name" id="rigname" name="rigname" type="text">
            </div>
            <div class="form-group">
                <label for="num_tecsselect">Number of Techs assigned</label>
                <select class="form-control" id="numtechs" name="numtechs">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Latitude</label>
                <input class="form-control" placeholder="Format As 100.100" id="lat" name="lat" type="text">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Longitude</label>
                <input class="form-control" placeholder="Format As -100.100" id="long" name="long" type="text">
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </fieldset>
    </form>
{% endblock %}
