{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <div class="container">
              <h2>Portfolio</h2>
              <p>The table below shows your current stock and cash holdings</p>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Current Price</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                        {% for stock in stocks %}
                        <tr>
                        <td>{{ stock.stock }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ price[loop.index0] }}</td>
                        <td>{{ value[loop.index0] }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td> Cash </td>
                            <td colspan="2"></td>
                            <td> {{ cash }} </td>
                        </tr>
                </tbody>
                <tfoot>
                        <tr>
                        <td colspan="3"></td>
                        <td><h4>{{ total }}</h4></td>
                        </tr>
                </tfoot>
              </table>
            </div>
        </fieldset>
    </form>
{% endblock %}
