{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
    <form action="{{ url_for('schedule') }}" method="post">
        <fieldset>
            <div class="container">
              <h2>Schedule</h2>
              <p>This screen should show the schedule table for the week</p>
              <div id="redips-drag">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Rig Name</th>
                      <th scope="col">Tech on Days</th>
                      <th scope="col">Tech on Nights</th>
                      <th scope="col">Somthing Else</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td><div class="redips-drag">Hello World1</div></td>
                        <td><div class="redips-drag">Hello World2</div></td>
                        <td><div class="redips-drag">Hello World3</div></td>
                        <td><div class="redips-drag">Hello World4</div></td>
                      </tr>
                      <tr>
                        <td><div class="redips-drag">Hello World5</div></td>
                        <td><div class="redips-drag">Hello World6</div></td>
                        <td><div class="redips-drag">Hello World7</div></td>
                        <td><div class="redips-drag">Hello World8</div></td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{{ url_for('addrig') }}'">Add Rig</button>
        </fieldset>
    </form>
{% endblock %}
